.container {
  background-color: #f9f9fb;
  padding: 1rem 1.5rem;
  border-radius: 8px;
}

.selectWrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.selectLabel {
  color: #8291A0;
  font-weight: bold;
}

.selectTrigger {
  padding: 6px 12px;
  border: 1px solid #d5dce5;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  color: #1D2123;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 120px;
}

.selectTrigger:disabled {
  color:#919EAF;
  background-color: #E6EBF5;
  cursor:not-allowed;
}

.selectContent {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: relative;
  min-width: 120px;
}

.selectItem {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.selectItem[data-highlighted] {
  background-color: #f0f0f0;
  outline: none;
}

.progressIndicator {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: #D5DCE5;
}

.loader {
  border: 2px solid transparent;
  border-top: 2px solid;
  border-right: 2px solid ;
  border-radius: 50%;
  width: 0.9rem;
  height: 0.9rem;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.tabsList {
  display: flex;
  align-items: center;
  gap: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.tabItem {
  display: flex;
  align-items: center;
}

.tabTrigger {
  width: 190px;
  text-align: center;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  background-color: #919EAF;
  color: #C8D2DD;
  border: none;
  transition: all 0.3s ease;
  z-index: 1;
}

.tabTrigger:disabled {
  cursor: not-allowed;
}

.active {
  background-color: #3C91FF;
  color: #ffffff;
  border: 2px solid #B4DBFC;
  box-shadow: 0 0 10px #B4DBFC;
}

.active:hover {
  background-color: #1f78e0;
}

.completed {
  background-color: #5F1EBE;
  color: #C8D2DD;
}

.connector {
  width: 30px;
  height: 4px;
  background-color: #ccc;
  margin: 0 -1px;
  z-index: 0;
  border-radius: 2px;
}

.connectorCompleted {
  background-color: #5F1EBE;
}

.tabContent {
  margin-top: 12px;
  font-size: 16px;
  color: #555;
}

.resetButton {
  margin-top: 12px;
  padding: 10px 16px;
  background-color: #3C91FF;
  color: #ffffff;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  transition: background-color 0.2s ease;
}

.resetButton:hover {
  background-color: #1f78e0;
}

.alert {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff0000;
  background: #F0F2F8;
  font-size: 16px;
  flex-direction: row;
  border-radius: 12px;
  gap: 6px;
  margin: 12px;
}

.alertIcon {
  width: 24px;
  height: 24px;
  color: #ff0000;
  margin: 8px;

}

.calibrationFinish {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #82DC73;
  font-weight: bold;
}