.tabItem {
  display: flex;
  align-items: center;
}

.tabTrigger {
  width: 190px;
  text-align: center;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  background-color: #919eaf;
  color: #c8d2dd;
  border: none;
  transition: all 0.3s ease;
  z-index: 1;
}

.tabTrigger:disabled {
  cursor: not-allowed;
}

.active {
  background-color: #3c91ff;
  color: #ffffff;
  border: 2px solid #b4dbfc;
  box-shadow: 0 0 10px #b4dbfc;
}

.active:hover {
  background-color: #1f78e0;
}

.completed {
  background-color: #5f1ebe;
  color: #c8d2dd;
}

.connector {
  width: 30px;
  height: 4px;
  background-color: #ccc;
  margin: 0 -1px;
  z-index: 0;
  border-radius: 2px;
}

.connectorCompleted {
  background-color: #5f1ebe;
}

@media (min-width: 1921px) {
  .title {
    font-size: 2em;
  }

  .tabContent {
    font-size: 1.25em;
  }

  .alert {
    font-size: unset;
  }

  .tabTrigger {
    font-size: 1.25em;
    width: 20em;
  }
}
