.camera {
  flex: 1;
  display: flex;
  align-items: center;
  align-content: center;
  border-radius: 8px;
  background: #f0f2f8;
  position: relative;
  overflow: hidden;
  max-block-size: fit-content;
}

.cameraImage {
  width: 100%;
  height: 100%;
  max-height: 15vh;
  object-fit: fill;
  transition: all 500ms ease;
}

.cameraBox {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 0;
  border-radius: 8px;
  background-color: #f0f0f091;
  border: 1px solid #fff;
  box-shadow: 0px 0px 2px 0px #fff;
  padding: 12px;
}

.cameraBox[data-zoomable='true'] {
  cursor: pointer;
}

.zoomed .cameraImage {
  max-height: 25vh;
}

.cameraLabel {
  position: absolute;
  font-weight: bold;
  color: #8291a0;
  background-color: #e6ebf5;
  border-radius: 0px 8px;
  left: 12px;
  bottom: 12px;
  font-size: 12px;
  padding: 2px 14px;
  letter-spacing: 1px;
  opacity: 0.75;
}

@media (min-width: 1921px) {
  .cameraLabel {
    font-size: 1em;
  }
}
