.cameraStream {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
  border-radius: 8px;
  min-height: 0;
  min-width: 0;
}

.noSignal {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  flex-direction: column;
  border-radius: 12px;
  gap: 6px;
}

.noSignalIcon {
  width: 32px;
  height: 32px;
  color: #333;
  margin-bottom: 8px;
}

@media (min-width: 1921px) {
  .noSignal {
    font-size: 1.5em;
  }

  .noSignalIcon {
    width: 2em;
    height: 2em;
  }

  .cameraStream {
    gap: 1.5em;
    padding: 1.5em;
  }
}
