.cameraStream {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.noSignal {
  display: flex;
  align-items: center;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  flex-direction: column;
  gap: 6px;
  border-radius: 8px;
  background-color: #f0f0f091;
  border: 1px solid #fff;
  box-shadow: 0px 0px 2px 0px #fff;
  padding: 12px;
}

.noSignalIcon {
  width: 32px;
  height: 32px;
  color: #333;
  margin-bottom: 8px;
}

@media (min-width: 1921px) {
  .noSignal {
    font-size: 1.5em;
  }

  .noSignalIcon {
    width: 2em;
    height: 2em;
  }

  .cameraStream {
    gap: 1.5em;
  }
}
