.camera {
  flex: 1;
  display: flex;
  align-items: center;
  align-content: center;
  border-radius: 12px;
  background: #f0f2f8;
  position: relative;
  overflow: hidden;
  max-block-size: fit-content;
}

.cameraImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.cameraBox {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.cameraLabel {
  position: absolute;
  font-weight: bold;
  color: #8291a0;
  background-color: #e6ebf5;
  border-radius: 0px 10px;
  left: 0;
  bottom: 0;
  font-size: 12px;
  padding: 2px 14px;
  letter-spacing: 1px;
  opacity: 0.75;
}
