.chatForm {
  padding: 9px 16px;
  box-shadow: 0 0 9px 0 #00000088;
  pointer-events: all;
  color: #333;
  background-color: #f0f0f091;
  border: 1px solid #fff;
  box-shadow: 0px 0px 2px 0px #fff;
  border-radius: 8px;
  position: relative;
  backdrop-filter: blur(5px);
}

.chatControls {
  display: flex;
  gap: 12px;
  align-items: center;
}

.chatTextarea {
  font-family: sans-serif;
  font-size: inherit;
  background: unset;
  border: 0;
  flex-grow: 1;
  color: inherit;
  resize: none;
  height: 1.2em;
  padding: 4px;
  user-select: text;
  max-height: 50vh;
}

.chatTextarea:active,
.chatTextarea:focus {
  outline: unset;
}

.chatButton {
  width: 48px;
  height: 48px;
  background: unset;
  border: 0;
  color: inherit;
  transition: all 200ms;
  outline: none;
}

.chatButton svg {
  width: 25px;
  height: 25px;
}

.chatButton:not([disabled]) {
  cursor: pointer;
}

.chatButton:hover:not([disabled]) {
  background-color: #ffffff20;
  border-radius: 100vw;
}

.chatButton[disabled] {
  color: gray;
}

.chatButton.pulse,
.chatButton.active {
  color: #0f5fdc;
  filter: brightness(1.3) saturate(1.5);
}

.chatButton.pulse:before {
  content: "";
  position: absolute;
  display: block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  margin-left: -6px;
  margin-top: -12px;
  border-radius: 100vw;
  background-color: #ffffff20;
  border: 1px solid #ffffff20;
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes pulse-ring {
  0% {
    transform: scale(1);
  }
  90%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@media (min-width: 1921px) {
  .chatTextarea {
    font-size: 1.5em;
  }

  .chatButton svg {
    width: 2em;
    height: 2em;
  }
}
