.chatHistory {
  pointer-events: all;
  user-select: text;
  padding: 12px 8px 10px 8px;
  margin-bottom: -8px;
  backdrop-filter: blur(10px);
  border-radius: 10px 10px 0 0;
  background-color: #00000030;
  border-bottom-width: 0;
  background-color: #f0f0f091;
  border: 1px solid #fff;
  box-shadow: 0px 0px 2px 0px #fff;
  backdrop-filter: blur(5px);
  color: #333;
}

.historyEntries {
  max-height: 50vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 8px;
  padding-bottom: 10px;
}

.chatRecent {
  user-select: text;
  padding: 12px 8px;
  margin-bottom: -8px;
  padding-bottom: 10px;
}

.chatRecent .historyEntries {
  max-height: unset;
  overflow: hidden;
  padding-bottom: 10px;
}
