.typingTextWrapper {
  overflow: hidden;
  transform: translateY(100%);
  transition:
    transform 300ms ease-in-out,
    height 300ms ease-in-out;
  height: 0;
  padding-left: 5px;
}

.typingTextWrapper.show {
  transform: translateY(0);
  height: 30px;
}

.typingText {
  font-style: italic;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
}

.typingIndicatorWrapper {
  display: inline-block;
}

.typingIndicator {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  padding: 10px 10px 0;
}

.dot {
  border-radius: 25px;
  height: 0.2rem;
  width: 0.2rem;
  animation: wave 1.5s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0.3333s;
}

.dot:nth-child(2) {
  animation-delay: 0.6666s;
}

.dot:nth-child(3) {
  animation-delay: 0.9999s;
}

@keyframes wave {
  0% {
    transform: translateY(0px);
    background: #94a3b800;
  }
  50% {
    transform: translateY(-0.2rem);
    background: #ffffffcc;
  }
  100% {
    transform: translateY(0px);
    background: #94a3b800;
  }
}
