.countdownNumber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: counterAnimation 1s ease-in-out infinite;
}

@keyframes counterAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(12);
    opacity: 0;
  }
}

.countdown {
  font-weight: bold;
  color: #333;
}
