.drawer {
  height: 100vh;
  background-color: #0f5fdc;
  border-right: 1px solid #fff;
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.open {
  width: 200px;
}

.closed {
  width: 60px;
  align-items: center;
}

.drawerHeader {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.burger,
.close {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 0px;
  color: #fff;
  width: 24px;
  height: 24px;
}

.drawerContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px 0px;
}

.drawerItem {
  display: flex;
  gap: 0.75em;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
}

.drawerItem:hover {
  background-color: #00000030;
}

.selected {
  background-color: #00000030;
}

.drawerLabel {
  font-size: 18px;
  color: #fff;
  align-self: center;
}

.drawerIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawerIcon svg {
  height: 24px;
  width: 24px;
  color: #fff;
}

@media (min-width: 1921px) {
  .open {
    width: 20em;
  }

  .closed {
    width: 5em;
    align-items: center;
  }

  .drawerLabel {
    font-size: 1.5em;
  }

  .drawerIcon svg,
  .burger,
  .close {
    height: 2em;
    width: 2em;
  }

  .drawerHeader {
    padding: 1em;
  }
}
