.header {
  height: 60px;
  background: linear-gradient(90deg, #5f1ebe, #0f5fdc 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  color: #fff;
  transition:
    margin-left 0.3s ease,
    width 0.3s ease;
  border-bottom: 1px solid #fff;
}

.title {
  font-size: 1.25em;
  font-weight: bold;
  color: #fff;
}

@media (min-width: 1921px) {
  .title {
    font-size: 2em;
  }

  .header {
    height: 5em;
  }
}
