.root {
  display: flex;
  height: 100vh;
  background: #fff;
}

.mainArea {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contentArea {
  display: flex;
  flex: 1;
  padding: 16px;
  gap: 16px;
  overflow: hidden;
  min-width: 0;
}

.leftArea {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 16px;
  min-width: 0;
}

.pageContainer {
  flex: 0 0 auto;
  padding: 16px;
}

.sceneContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
  gap: 10px;
  overflow: hidden;
  position: relative;
}

.mainScene {
  flex:1;
  display: flex;
  background: #f0f0f0;
  border-radius: 8px;
  box-sizing: border-box;
}

.cameraContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #e2e2e2;
  border-radius: 8px;
}

.logoArea {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px 20px;
  height: 60px;
}

.isLive {
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #b0b0b0;
  border-radius: 20px;
  color: #b0b0b0;
  padding: 2px 10px;
  cursor: pointer;
  z-index: 1;
  padding-left: 30px;
}

.isLive::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.offline::before {
  background-color: #b0b0b0;
}

.online::before {
  background-color: #11ce11;
  animation: blink 1s infinite;
}

.online {
  border-color: #11ce11;
  color: #868686;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
