
.statusButton {
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #b0b0b0;
  border-radius: 20px;
  color: #b0b0b0;
  padding: 2px 10px;
  cursor: pointer;
  z-index: 1;
  padding-left: 30px;
}

.statusButton::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.offline::before {
  background-color: #b0b0b0;
}

.online::before {
  background-color: #11ce11;
  animation: blink 1s infinite;
}

.online {
  border-color: #11ce11;
  color: #757575;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
