.robotIcons {
  display: flex;
  cursor: pointer;
  gap: 10px;
  position: relative;
}

.robotIcon svg {
  fill: #a5afbe;
}

.robotIcon.active svg {
  fill: #beebb4;
}

@media (min-width: 1921px) {
  .robotIcon svg {
    width: 5em;
    height: 5em;
  }
}
