.robotRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 6px 0;
}

.robotId {
  font-weight: bold;
}

.leaderButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #b9c3d0;
}

.leaderButton:hover {
  color: #a1e596;
}

.leaderActive {
  color: #2db26c;
}

.robotDetail {
  font-size: 16px;
}

.divider {
  height: 1px;
  background-color: #a5afbe;
  margin: 2px 0;
  opacity: 0.5;
}

.SwitchWrapper {
  display: flex;
  justify-content: space-between;
  line-height: 45px;
}

.SwitchContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.Switch {  
  width: 45px;
  background-color: #fff;
  border-radius: 50px;
  position: relative;
  border: 1px solid #0f5fdc;
  cursor: pointer;

  &[data-state='checked'] {
    background-color: #0f5fdc;
  }
  
  &[data-disabled] {
    background-color: #333;
    border: 1px solid #333;
    cursor: not-allowed;
  }
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: #0f5fdc;
  border-radius: 50px;
  transition: transform 100ms;
  transform: translateX(-5px);
  will-change: transform;

  &[data-state='checked'] {
    transform: translateX(15px);
    background-color: #fff;
  }

  &[data-disabled] {
    background-color: #eee;
  }
}
