.robotRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 6px 0;
}

.robotId {
  font-weight: bold;
}

.robotName {
  text-overflow: ellipsis;
  max-width: 100px;
  overflow: hidden;
}

.leaderButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #b9c3d0;
}

.leaderButton:hover {
  color: #a1e596;
}

.leaderActive {
  color: #2db26c;
}

.robotDetail {
  font-size: 14px;
  text-shadow: 0 0 5px #ffffff;
}

.divider {
  height: 1px;
  background-color: #a5afbe;
  margin: 2px 0;
  opacity: 0.5;
}

.noRobot {
  display: flex;
  align-items: center;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  flex-direction: column;
  gap: 14px;
  margin-top: 20px;
}

.noRobotIcon {
  width: 32px;
  height: 32px;
  color: #333;
}
