.selectWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.selectWrapper label {
  color: #555555;
  font-size: 14px;
  font-weight: normal;
}

@media (min-width: 1921px) {
  .selectWrapper label {
    font-size: 1.25em;
  }
}
