.toast {
  border-radius: 8px;
  padding: 12px 16px;
  color: white;
  margin-bottom: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  animation: slideInRight 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}

.toast.slideinRight {
  animation: slideInRight 0.2s ease;
}

.toast .toastClose {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-left: 8px;
}

.toast.success {
  background-color: #16a34ad1;
}

.toast.error {
  background-color: #dc2626d1;
}

.toast.warning {
  background-color: #f59e0bd1;
}

.toast.info {
  background-color: #2563ebd1;
}

.toast .head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toast .title svg {
  margin-right: 5px;
  vertical-align: top;
}

.toast hr {
  width: 100%;
}

.toast .body {
  font-size: 12px;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 1921px) {
  .toast {
    width: 20em;
  }

  .toast .body {
    font-size: 1.25em;
  }

  .toast .toastClose {
    font-size: 1em;
  }

  .toast .title svg {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
  }

  .toast .head {
    font-size: 1.5em;
  }
}
