.contentArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}

.controlPanel {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #f0f0f091;
  backdrop-filter: blur(5px);
  border: 1px solid #fff;
  box-shadow: 0px 0px 2px 0px #fff;
  margin: 16px 16px 0 16px;
}

.progressIndicator {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #d5dce5;
}

.loader {
  border: 2px solid transparent;
  border-top: 2px solid #d5dce5;
  border-right: 2px solid #d5dce5;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.tabsList {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.tabContent {
  margin: 12px 0px;
  font-size: 16px;
  color: #555;
}

.restartButton {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  background-color: #3c91ff;
  color: #ffffff;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  padding: 12px;
  transition: background-color 0.2s ease;
}

.restartButton:hover {
  background-color: #1f78e0;
}

.restartButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff0000;
  font-size: 16px;
  flex-direction: row;
  border-radius: 12px;
  gap: 6px;
  margin: 12px;
}

.alertIcon {
  width: 24px;
  height: 24px;
  color: #ff0000;
  margin: 8px;
}

.calibrationFinish {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #24ff00;
  font-weight: bold;
  text-shadow: 0 0 5px #a3a3a3;
}

.sceneContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.mainScene {
  flex: 1;
  display: flex;
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 0.5rem;
  color: #333;
}

.nameWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.nameWrapper label {
  color: #555555;
  font-size: 14px;
  font-weight: normal;
}

.nameWrapper input {
  padding: 6px 12px;
  border: 1px solid #d5dce5;
  border-radius: 6px;
  background-color: #ffffff;
  color: #1d2123;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nameWrapper input:disabled {
  color: #919eaf;
  background-color: #e6ebf5;
  cursor: not-allowed;
}
