.ConfigurationWrapper {
  margin: 0 16px;
}

.Title {
  color: #333;
}

.Form {
  width: 500px;
  background-color: #eee;
  padding: 15px;
  border-radius: 8px;
}

.Field {
  display: grid;
  margin-bottom: 10px;
}

.Label {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  color: #333;
}

.ErrorMessage {
  font-size: 13px;
  color: #ff0000;
  opacity: 0.8;
}

.Input {
  padding: 0 10px;
  height: 35px;
  line-height: 1;
  border: 1px solid #333;
  border-radius: 8px;
  color: #333;
}

.Input:focus-visible {
  outline: none;
}

.SubmitButton {
  background-color: #3c91ff;
  color: #ffffff;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  padding: 12px;
  transition: background-color 0.2s ease;
  margin-top: 10px;
}

.SubmitButton:hover {
  background-color: #1f78e0;
}

.MessageContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.TokenWrapper {
  border: 1px solid #333;
  border-radius: 8px;
}

.TokenInput.Input {
  width: calc(100% - 55px);
  border: unset;
}

.TokenInput:hover {
  box-shadow: unset;
}

.TokenIconButton {
  height: 35px;
  width: 35px;
  border-radius: 0 8px 8px 0;
  border: unset;
  cursor: pointer;
}
