.configurationWrapper {
  margin: 16px;
  background-color: #f0f0f091;
  border: 1px solid #fff;
  border-radius: 8px;
  width: 100%;
  height: fit-content;
  padding: 16px;
  padding-top: 0;
}

.title {
  color: #333;
}

.contentArea {
  background-color: #f0f0f091;
  backdrop-filter: blur(5px);
  border: 1px solid #fff;
  border-radius: 8px;
}
